### Link to homework
https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/cohorts/2024/01-docker-terraform/homework.md

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus
from time import time

In [2]:
trip_data_file_path = "/workspaces/data-engineering-zoomcamp/data/green_tripdata_2019-09.csv.gz"
green_table_name = "green_tripdata_2019_09"

In [5]:
encoded_password = quote_plus("P@ssw0rd!")
print(encoded_password)
engine = create_engine(f"postgresql://postgres:{encoded_password}@db:5432/ny_taxi")

P%40ssw0rd%21

In [6]:
engine.connect()

### Question 1. Knowing docker tags
Run the command to get information on Docker
docker --help

Now run the command to get help on the "docker build" command:
docker build --help

Do the same for "docker run".
Which tag has the following text? - Automatically remove the container when it exits

Answer:
**--rm**

### Question 2. Understanding docker first run
Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list ).

What is version of the package wheel ?

Answer:
root@c3816d7e6e77:/# wheel version

wheel 0.45.1

### Question 4. Longest trip for each day
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.

Tip: For every trip on a single day, we only care about the trip with the longest distance.

2019-09-18
2019-09-16
2019-09-26
2019-09-21

In [9]:
query = f"""
SELECT COUNT(*) FROM {green_table_name}
"""

pd.read_sql_query(query, engine)

    count
0  449063

In [12]:
query = f"""
SELECT * FROM {green_table_name}
ORDER BY trip_distance DESC
LIMIT 1
"""

pd.read_sql_query(query, engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-26 19:32:52,2019-09-27 01:50:27,N,4.0,265,16,1.0,341.64,1761.0,1.0,0.5,0.0,0.0,None,0.3,1762.8,2.0,1.0,0.0

Answer: the longest trip was on 2019-09-26