## Load New York Taxi Data

In [3]:
import subprocess
import pandas as pd
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus
from time import time

In [4]:
trip_data_file_path = "/var/tmp/output.parquet"
green_table_name = "green_tripdata_2019_09"
taxi_zones_data_file_path = "/workspaces/data-engineering-zoomcamp/data/taxi_zones.csv"
taxi_zones_table_name = "taxi_zones"

In [5]:
subprocess.run(["wget", "-O", trip_data_file_path, "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet"])

--2025-01-15 15:19:28--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.165.247.163, 3.165.247.79, 3.165.247.72, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.165.247.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7692006 (7.3M) [binary/octet-stream]
Saving to: ‘/var/tmp/output.parquet’

     0K .......... .......... .......... .......... ..........  0% 1.21M 6s
    50K .......... .......... .......... .......... ..........  1% 1.26M 6s
   100K .......... .......... .......... .......... ..........  1% 5.29M 4s
   150K .......... .......... .......... .......... ..........  2% 4.49M 4s
   200K .......... .......... .......... .......... ..........  3% 2.62M 3s
   250K .......... .......... .......... .......... ..........  3% 3.71M 3s
   300K .......... .......... .......... .......... ..........  4% 6.32M 3s
   350K .......... .......... .......... .......... ..........  5% 2.33M 3s
   400K .......... .......... .......... .......... ..........  5% 6.45M 3s
   450K .......... .......... .......... .......... ..........  6% 4.24M 3s
   500K .......... .......... .......... .......... ..........  7% 6.93M 2s
   550K .......... .......... .......... .......... ..........  7% 7.74M 2s
   600K .......... .......... .......... .......... ..........  8% 6.77M 2s
   650K .......... .......... .......... .......... ..........  9% 6.91M 2s
   700K .......... .......... .......... .......... ..........  9% 4.75M 2s
   750K .......... .......... .......... .......... .......... 10% 6.11M 2s
   800K .......... .......... .......... .......... .......... 11% 7.01M 2s
   850K .......... .......... .......... .......... .......... 11% 8.68M 2s
   900K .......... .......... .......... .......... .......... 12% 4.28M 2s
   950K .......... .......... .......... .......... .......... 13% 6.56M 2s
  1000K .......... .......... .......... .......... .......... 13% 7.34M 2s
  1050K .......... .......... .......... .......... .......... 14% 7.35M 2s
  1100K .......... .......... .......... .......... .......... 15% 2.65M 2s
  1150K .......... .......... .......... .......... .......... 15% 7.29M 2s
  1200K .......... .......... .......... .......... .......... 16% 12.8M 1s
  1250K .......... .......... .......... .......... .......... 17% 13.8M 1s
  1300K .......... .......... .......... .......... .......... 17% 4.58M 1s
  1350K .......... .......... .......... .......... .......... 18% 7.78M 1s
  1400K .......... .......... .......... .......... .......... 19% 2.26M 1s
  1450K .......... .......... .......... .......... .......... 19% 10.7M 1s
  1500K .......... .......... .......... .......... .......... 20% 6.92M 1s
  1550K .......... .......... .......... .......... .......... 21% 10.6M 1s
  1600K .......... .......... .......... .......... .......... 21% 5.15M 1s
  1650K .......... .......... .......... .......... .......... 22% 21.7M 1s
  1700K .......... .......... .......... .......... .......... 23% 8.25M 1s
  1750K .......... .......... .......... .......... .......... 23% 6.32M 1s
  1800K .......... .......... .......... .......... .......... 24% 6.82M 1s
  1850K .......... .......... .......... .......... .......... 25% 7.53M 1s
  1900K .......... .......... .......... .......... .......... 25% 3.97M 1s
  1950K .......... .......... .......... .......... .......... 26% 4.51M 1s
  2000K .......... .......... .......... .......... .......... 27% 7.76M 1s
  2050K .......... .......... .......... .......... .......... 27% 6.64M 1s
  2100K .......... .......... .......... .......... .......... 28% 7.73M 1s
  2150K .......... .......... .......... .......... .......... 29% 6.57M 1s
  2200K .......... .......... .......... .......... .......... 29% 4.18M 1s
  2250K .......... .......... .......... .......... .......... 30% 9.28M 1s
  2300K .......... .......... .......... .......... .......... 31% 7.38M 1s
  2350K .......... .......... .......... .......... .......... 31% 7.05M 1s
  2400K .......... .......... .......... .......... .......... 32% 5.91M 1s
  2450K .......... .......... .......... .......... .......... 33% 4.36M 1s
  2500K .......... .......... .......... .......... .......... 33% 6.85M 1s
  2550K .......... .......... .......... .......... .......... 34% 7.52M 1s
  2600K .......... .......... .......... .......... .......... 35% 7.59M 1s
  2650K .......... .......... .......... .......... .......... 35% 4.38M 1s
  2700K .......... .......... .......... .......... .......... 36% 7.53M 1s
  2750K .......... .......... .......... .......... .......... 37% 6.23M 1s
  2800K .......... .......... .......... .......... .......... 37% 7.45M 1s
  2850K .......... .......... .......... .......... .......... 38% 4.60M 1s
  2900K .......... .......... .......... .......... .......... 39% 5.37M 1s
  2950K .......... .......... .......... .......... .......... 39% 6.29M 1s
  3000K .......... .......... .......... .......... .......... 40% 7.16M 1s
  3050K .......... .......... .......... .......... .......... 41% 4.20M 1s
  3100K .......... .......... .......... .......... .......... 41% 6.55M 1s
  3150K .......... .......... .......... .......... .......... 42% 7.29M 1s
  3200K .......... .......... .......... .......... .......... 43% 4.53M 1s
  3250K .......... .......... .......... .......... .......... 43% 3.63M 1s
  3300K .......... .......... .......... .......... .......... 44% 9.88M 1s
  3350K .......... .......... .......... .......... .......... 45% 8.76M 1s
  3400K .......... .......... .......... .......... .......... 45% 5.81M 1s
  3450K .......... .......... .......... .......... .......... 46% 5.31M 1s
  3500K .......... .......... .......... .......... .......... 47% 3.95M 1s
  3550K .......... .......... .......... .......... .......... 47% 18.6M 1s
  3600K .......... .......... .......... .......... .......... 48% 6.10M 1s
  3650K .......... .......... .......... .......... .......... 49% 3.22M 1s
  3700K .......... .......... .......... .......... .......... 49% 13.3M 1s
  3750K .......... .......... .......... .......... .......... 50% 11.0M 1s
  3800K .......... .......... .......... .......... .......... 51% 6.13M 1s
  3850K .......... .......... .......... .......... .......... 51% 8.84M 1s
  3900K .......... .......... .......... .......... .......... 52% 7.26M 1s
  3950K .......... .......... .......... .......... .......... 53% 4.05M 1s
  4000K .......... .......... .......... .......... .......... 53% 6.29M 1s
  4050K .......... .......... .......... .......... .......... 54% 8.21M 1s
  4100K .......... .......... .......... .......... .......... 55% 5.52M 1s
  4150K .......... .......... .......... .......... .......... 55% 5.38M 1s
  4200K .......... .......... .......... .......... .......... 56% 4.76M 1s
  4250K .......... .......... .......... .......... .......... 57% 11.9M 1s
  4300K .......... .......... .......... .......... .......... 57% 7.12M 1s
  4350K .......... .......... .......... .......... .......... 58% 3.15M 1s
  4400K .......... .......... .......... .......... .......... 59% 4.54M 1s
  4450K .......... .......... .......... .......... .......... 59% 9.17M 1s
  4500K .......... .......... .......... .......... .......... 60% 5.24M 1s
  4550K .......... .......... .......... .......... .......... 61% 12.2M 1s
  4600K .......... .......... .......... .......... .......... 61% 3.02M 1s
  4650K .......... .......... .......... .......... .......... 62% 44.6M 1s
  4700K .......... .......... .......... .......... .......... 63% 1.66M 1s
  4750K .......... .......... .......... .......... .......... 63% 2.50M 1s
  4800K .......... .......... .......... .......... .......... 64% 9.26M 0s
  4850K .......... .......... .......... .......... .......... 65% 2.71M 0s
  4900K .......... .......... .......... .......... .......... 65% 2.78M 0s
  4950K .......... .......... .......... .......... .......... 66% 3.28M 0s
  5000K .......... .......... .......... .......... .......... 67% 2.54M 0s
  5050K .......... .......... .......... .......... .......... 67% 5.90M 0s
  5100K .......... .......... .......... .......... .......... 68% 1.94M 0s
  5150K .......... .......... .......... .......... .......... 69% 5.80M 0s
  5200K .......... .......... .......... .......... .......... 69% 33.8M 0s
  5250K .......... .......... .......... .......... .......... 70% 8.56M 0s
  5300K .......... .......... .......... .......... .......... 71% 8.73M 0s
  5350K .......... .......... .......... .......... .......... 71% 3.70M 0s
  5400K .......... .......... .......... .......... .......... 72% 4.51M 0s
  5450K .......... .......... .......... .......... .......... 73% 88.8M 0s
  5500K .......... .......... .......... .......... .......... 73% 19.5M 0s
  5550K .......... .......... .......... .......... .......... 74% 1.50M 0s
  5600K .......... .......... .......... .......... .......... 75% 68.4M 0s
  5650K .......... .......... .......... .......... .......... 75% 8.02M 0s
  5700K .......... .......... .......... .......... .......... 76% 96.1M 0s
  5750K .......... .......... .......... .......... .......... 77%  112M 0s
  5800K .......... .......... .......... .......... .......... 77% 70.7M 0s
  5850K .......... .......... .......... .......... .......... 78%  101M 0s
  5900K .......... .......... .......... .......... .......... 79% 3.36M 0s
  5950K .......... .......... .......... .......... .......... 79% 67.4M 0s
  6000K .......... .......... .......... .......... .......... 80% 3.02M 0s
  6050K .......... .......... .......... .......... .......... 81% 38.6M 0s
  6100K .......... .......... .......... .......... .......... 81% 2.98M 0s
  6150K .......... .......... .......... .......... .......... 82% 88.4M 0s
  6200K .......... .......... .......... .......... .......... 83% 7.80M 0s
  6250K .......... .......... .......... .......... .......... 83% 3.29M 0s
  6300K .......... .......... .......... .......... .......... 84% 12.3M 0s
  6350K .......... .......... .......... .......... .......... 85% 5.70M 0s
  6400K .......... .......... .......... .......... .......... 85%  119M 0s
  6450K .......... .......... .......... .......... .......... 86% 2.47M 0s
  6500K .......... .......... .......... .......... .......... 87% 74.9M 0s
  6550K .......... .......... .......... .......... .......... 87% 81.9M 0s
  6600K .......... .......... .......... .......... .......... 88% 26.0M 0s
  6650K .......... .......... .......... .......... .......... 89% 9.90M 0s
  6700K .......... .......... .......... .......... .......... 89% 23.6M 0s
  6750K .......... .......... .......... .......... .......... 90% 2.85M 0s
  6800K .......... .......... .......... .......... .......... 91% 51.7M 0s
  6850K .......... .......... .......... .......... .......... 91% 87.2M 0s
  6900K .......... .......... .......... .......... .......... 92% 3.14M 0s
  6950K .......... .......... .......... .......... .......... 93% 93.0M 0s
  7000K .......... .......... .......... .......... .......... 93% 81.6M 0s
  7050K .......... .......... .......... .......... .......... 94% 34.0M 0s
  7100K .......... .......... .......... .......... .......... 95% 95.4M 0s
  7150K .......... .......... .......... .......... .......... 95% 10.6M 0s
  7200K .......... .......... .......... .......... .......... 96% 9.38M 0s
  7250K .......... .......... .......... .......... .......... 97% 6.22M 0s
  7300K .......... .......... .......... .......... .......... 97% 94.0M 0s
  7350K .......... .......... .......... .......... .......... 98% 4.52M 0s
  7400K .......... .......... .......... .......... .......... 99% 5.18M 0s
  7450K .......... .......... .......... .......... .......... 99% 15.1M 0s
  7500K .......... .                                          100% 19.2M=1.3s

2025-01-15 15:19:29 (5.67 MB/s) - ‘/var/tmp/output.parquet’ saved [7692006/7692006]

CompletedProcess(args=['wget', '-O', '/var/tmp/output.parquet', 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet'], returncode=0)

In [6]:
df_first_rows = pd.read_parquet(trip_data_file_path)

In [7]:
df_first_rows.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,None,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,None,0.3,18.36,1.0,1.0,0.0

### Display data types

In [8]:
df_first_rows.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

### Change datatype for pickup and dropoff datetime

In [9]:
df_first_rows.lpep_pickup_datetime = pd.to_datetime(df_first_rows.lpep_pickup_datetime)
df_first_rows.lpep_dropoff_datetime = pd.to_datetime(df_first_rows.lpep_dropoff_datetime)

In [10]:
df_first_rows.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [11]:
df_first_rows.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,None,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,None,0.3,18.36,1.0,1.0,0.0

### Show query to create a table

In [12]:
encoded_password = quote_plus("P@ssw0rd!")
encoded_password

'P%40ssw0rd%21'

In [13]:
engine = create_engine(f"postgresql://postgres:{encoded_password}@db:5432/ny_taxi")

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df_first_rows, name=green_table_name, con=engine))

CREATE TABLE green_tripdata_2019_09 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

### Load Green Taxy 2019-09 data

### Create a table with the Green Taxy 2019-09 data

### Use iterator to upload data in chunks of 100000 rows

In [16]:
import pyarrow.parquet as pq
import pyarrow as pa

chunk_size = 100000
parquet_file = pq.ParquetFile(trip_data_file_path)
parquet_file.num_row_groups

1

In [17]:
""" `iter_batches` property iterate over parquet file data based
on chunk-size provided. """
first_row = True
for batch in parquet_file.iter_batches(batch_size=chunk_size):
    start = time()
    chunk_df = pa.Table.from_batches([batch]).to_pandas(split_blocks=True, self_destruct=True)

    if first_row:
        chunk_df.to_sql(green_table_name, engine, index=False, if_exists="replace")
        first_row = False
    else:
        chunk_df.to_sql(green_table_name, engine, index=False, if_exists="append")

    end = time()
    print(f"Chunk loaded in {end - start} seconds")

Chunk loaded in 33.79699492454529 seconds
Chunk loaded in 39.38543200492859 seconds
Chunk loaded in 56.09106230735779 seconds
Chunk loaded in 35.22955894470215 seconds
Chunk loaded in 15.706185340881348 seconds

In [18]:
pd.read_sql(f"SELECT COUNT(*) FROM {green_table_name}", engine)

    count
0  449063

### Load New York Taxi locations

In [19]:
dtypes = {
    "zone": "string",
    "LocationID": "Int64",
    "borough": "string"
}

ny_taxi_zones = pd.read_csv(taxi_zones_data_file_path, usecols=["zone", "LocationID", "borough"], dtype=dtypes)

KeyboardInterrupt:

In [42]:
ny_taxi_zones.head(20)

                       zone  LocationID        borough
0            Newark Airport           1            EWR
1               Jamaica Bay           2         Queens
2   Allerton/Pelham Gardens           3          Bronx
3             Alphabet City           4      Manhattan
4             Arden Heights           5  Staten Island
5   Arrochar/Fort Wadsworth           6  Staten Island
6                   Astoria           7         Queens
7              Astoria Park           8         Queens
8                Auburndale           9         Queens
9              Bloomingdale          24      Manhattan
10             Baisley Park          10         Queens
11               Bath Beach          11       Brooklyn
12             Battery Park          12      Manhattan
13        Battery Park City          13      Manhattan
14             Bedford Park          18          Bronx
15              Boerum Hill          25       Brooklyn
16                Bay Ridge          14       Brooklyn
17  Bay Terrace/Fort Totten          15         Queens
18         Bensonhurst West          22       Brooklyn
19  Bloomfield/Emerson Hill          23  Staten Island

In [43]:
ny_taxi_zones.dtypes

zone          string[python]
LocationID             Int64
borough       string[python]
dtype: object

In [44]:
ny_taxi_zones.to_sql(taxi_zones_table_name, engine, if_exists="replace", index=False)

263

In [45]:
query = f"""
SELECT * from {taxi_zones_table_name}
WHERE "borough" = 'Brooklyn'
  OR "borough" = 'Queens'
  OR "borough" = 'Manhattan'
  OR "borough" = 'Bronx'
  OR "borough" = 'Staten Island'
  OR "borough" = 'Brooklyn'
"""

pd.read_sql(query, engine)

                          zone  LocationID        borough
0                  Jamaica Bay           2         Queens
1      Allerton/Pelham Gardens           3          Bronx
2                Alphabet City           4      Manhattan
3                Arden Heights           5  Staten Island
4      Arrochar/Fort Wadsworth           6  Staten Island
..                         ...         ...            ...
257  Williamsburg (South Side)         256       Brooklyn
258         Woodlawn/Wakefield         259          Bronx
259                   Woodside         260         Queens
260         World Trade Center         261      Manhattan
261             Yorkville East         262      Manhattan

[262 rows x 3 columns]